.cake_nyheter_1{
    grid-column: 4/5;
    grid-row: 1/2;
    width: 87px; height: 61px;
    background: url('../img/css_sprites.png') -10px -10px;
    margin-left: 10px;
}

.utveckling{
    grid-column: 2/4;
    grid-row: 1/2;
    margin-bottom: 0%;
}

.utveckling_paragraf{
    grid-column: 2/4;
    grid-row: 2/3;
    margin-top: 0%;
}

.utveckling_datum{
    grid-column: 2/4;
    grid-row: 3/4;
    margin-top: 0%;
}

.cake_nyheter_2{
    grid-column: 1/2;
    grid-row: 5/6;
    width: 87px; height: 61px;
    background: url('../img/css_sprites.png') -117px -10px;
    margin-right: 10px;
}
.tur{
    grid-column: 2/4;
    grid-row: 5/6;
    margin-bottom: 0%;
}

.tur_paragraf{
    grid-column: 2/4;
    grid-row: 6/7;
    margin-top: 0%;
}

.tur_datum{
    grid-column: 2/4;
    grid-row: 7/8;
    margin-top: 0%;
}

@media only screen and (min-device-width: 450px){

    .cake_nyheter_1{
        grid-column: 7/8;
        grid-row: 2/3;
    }

    .bild_nyheter_1{
        grid-column: 2/4;
        grid-row: 1/4;
        background: url('../img/party.jpg');
        margin-top: 40px;
        background-repeat: no-repeat;
        margin-right: 10px;
    }

    .utveckling{
        grid-column: 4/7;
        margin-top: 20%;
        font-size: 27px;
    }

    .utveckling_paragraf{
        grid-column: 4/7;
        margin-top: 0px;
    }

    .utveckling_datum{
        grid-column: 4/7;
        margin-top: 0px;
    }

    .cake_nyheter_2{
        grid-column: 2/3;
        grid-row: 5/6;
    }

    .bild_nyheter_2{
        grid-column: 6/8;
        grid-row: 4/7;
        background: url('../img/race_track_nyheter_klar.jpg');
        background-repeat: no-repeat;
        margin-top: 40px;
        margin-left: 10px;
    }

    .tur{
        grid-column: 3/6;
        grid-row: 4/5;
        font-size: 27px;
        margin-top: 20%;
    }

    .tur_paragraf{
        grid-column: 3/6;
        grid-row: 5/6;
    }

    .tur_datum{
        grid-column: 3/6;
        grid-row: 6/7;
    }
}