.sponsra{
    grid-column: 2/4;
    grid-row: 1/2;
}

.mail{
    grid-column: 2/4;
    grid-row: 2/3;
}

.kort{
    grid-column: 2/4;
    grid-row: 3/4;
}

.checkbox{
    grid-column: 2/3;
    grid-row: 4/5;
}

.soul{
    grid-column: 3/4;
    grid-row: 4/5;
}