<div class="cake_nyheter_1"></div>
<div class="bild_nyheter_1"></div>
<h3 class="utveckling">Utveckling startas!</h3>
<p class="utveckling_paragraf">Utveckling har nu startats och startar med brak när vi firade med alla medarbetare!</p>
<p class="utveckling_datum">2018-07-20</p>

<div class="cake_nyheter_2"></div>
<div class="bild_nyheter_2"></div>
<h3 class="tur">Tur till racingbanan!</h3>
<p class="tur_paragraf">Vi tog en tur till en riktigt racingbana för att få insperation!</p>
<p class="tur_datum">2018-05-22</p>