<h3 class="tack">Tack för att du sponsrar oss här är dina uppgifter. Klicka på sponsra om allt är som det ska!</h3>

<ul class="uppgifter">
    <li>E-mail</li>
    <li>6666 1420 1337 9999</li>
</ul>

<a href="#" class="accept_2">
    <button class="accept_2_button">Sponsra</button>
</a>