<h3 class="sponsra">Sponsra med pengar eller din själ!</h3>

<div class="mail">
    <input type="text" placeholder="E-mail pls">
</div>

<div class="kort">
    <input type="text" placeholder="kortinformation pls">
</div>

<div class="checkbox">
    <input type="checkbox" name="" id="">

</div>

<h3 class="soul">Din själ?</h3>